Repository typedb/typedb-docs, pull requests merged in 2020-03, with the labels that each got.

#268 Update copyright headers to 2020
  .bazelversion
  09-schema/01-concepts.md
  WORKSPACE
  dependencies/graknlabs/BUILD
  dependencies/graknlabs/dependencies.bzl
  dependencies/maven/update.sh
Labels: build

#270 Updates dependencies
  dependencies/graknlabs/dependencies.bzl
Labels: bug

#274 Fix excessive rebuilding
  .bazelrc
  .circleci/config.yml
  test/example/python/BUILD
  test/links/BUILD
  test/links/links_test.py
Labels: bug, build
