Repository typedb/typedb-docs, pull requests merged in 2022-11, with the labels that each got.

#623 Migrate release jobs to Factory, bump dependencies
  .factory/automation.yml
  11-query/02-get-query.md
  WORKSPACE
  dependencies/vaticle/artifacts.bzl
  dependencies/vaticle/repositories.bzl
  test/example/java/BUILD
  test/query/BUILD
  test/query/templates/TypeQLJavaTest.java
Labels: type: build, priority: blocker

#602 Fix failing steps in Phone Calls example (Java)
  08-examples/02-phone-calls-migration-java.md
Labels: type: bug, priority: medium

#627 Remove mention of 'cleaning' databases functionality
  06-management/01-database.md
Labels: priority: medium, type: documentation, domain: console

#630 Updates to graph database comparison
  12-comparisons/02-graph-databases-and-typedb.md
Labels: priority: high, domain: comparisons

#629 Version 2.14 compatibility tables
  01-running-typedb/01-install-and-run.md
  03-client-api/01-java.md
  03-client-api/02-python.md
  03-client-api/03-nodejs.md
  07-studio/00-overview.md
Labels: priority: high, type: documentation, domain: client-api

#631 Clarify the `sub!` keyword
  11-query/01-match-clause.md
Labels: priority: medium, domain: query

#632 Revert compatibility table for Cluster 2.14.1
  03-client-api/01-java.md
  07-studio/00-overview.md
Labels: priority: high, type: documentation
