Repository typedb/typedb-docs, pull requests merged in 2023-01, with the labels that each got.

#642 Updated Linux installation instructions
  01-running-typedb/01-install-and-run.md
Labels: priority: medium, domain: run-typedb

#641 Update 01-match-clause.md
  11-query/01-match-clause.md
Labels: type: bug, priority: medium, domain: query

#644 Fix Client Node.js compatibility table being rendered incorrectly
  03-client-api/03-nodejs.md
Labels: type: documentation

#645 Update client compatibility tables and isAbstract API
  03-client-api/01-java.md
  03-client-api/02-python.md
  03-client-api/03-nodejs.md
  04-concept-api/references/type.yml
Labels: type: feature, priority: high, domain: client-api

#648 [GH-553] Fixed mistake in get_iid() reference: type -> thing
  04-concept-api/references/thing.yml
Labels: type: documentation

#646 [GH-594] Fixed formatting of Note block in Migration and Backup
  06-management/04-migration-and-backup.md
Labels: priority: low, type: documentation

#651 Fix typo in Cluster run instructions
  05-running-typedb-cluster/01-install-and-run.md
Labels: priority: medium, type: documentation, domain: run-typedb

#639 Add section on efficient transitivity
  09-schema/03-rules.md
  10-pattern/01-negation.md
  files/negation/schema.tql
Labels: type: documentation, domain: query
